<!-- -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    ~Backend Testing~ : Status- Successful.
  </h1>
</div>

<app-menu></app-menu>

<router-outlet></router-outlet>


<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Explore PaperStraws</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLin  k="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="donate">Donate</a></li>
    </ul>
  </div>
</nav> -->
