.banner {
    background-color: rgb(250, 251, 252);
    margin: auto;
    padding: 4px;
    border: 25px solid rgb(149, 149, 236);
}

.inner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 4px;
}