form {
    display: inline-block;
}

body {
    text-align: center;
}

.submission-container {
    flex-direction: column;
    width: 100%;
}

.input {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(132, 199, 238);
    text-align: center;
    margin: auto;
    width: 75%;
}

.textarea {
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: auto;
    width: 75%;
}