<!DOCTYPE html>
<mat-card class="staff">
    <mat-card-header>
        <div mat-card-avatar class="staff-image"></div>
        <mat-card-title>Surya Purimetla</mat-card-title>
        <mat-card-subtitle>Founder</mat-card-subtitle>
    </mat-card-header>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D2486330588077480%26set%3Da.136640883046474%26type%3D3&width=500" width="500" height="531" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>    <mat-card-content>
        <p>
            Surya Purimetla founded the NPO PaperStraws with a focus on... (etc)
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onCreate()" color="accent">Reach out to our CEO directly</button>
    </mat-card-actions>
</mat-card>